[user]
  name = YOUR_NAME_HERE
  email = YOUR_EMAIL_HERE 
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  lp = log --pretty=oneline
  ld = log --pretty=format:'%H - %an, %ar : %s'
  lg = log --pretty=format:'%h - %an, %s' --graph
[core]
  editor = vim
  pager = less -x2
[color]
  ui = true
[init]
  defaultBranch = main
